<div class="center hero-unit">
  <h1>Sustainability Assessment</h1>

  <h2>
  Assess your organization's sustainability efforts
  </h2>

  <%= link_to "Get Started", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
