<footer class="footer">
  <small>
    <a href="http://www.greenconsultants.com/">Sustainability Assessment</a>
    by John Joseph
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.greenconsultants.com/">News</a></li>
    </ul>
  </nav>
</footer>